@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --font-family: 'Inter';
    --font-regular: 400;
    --font-bold: 700;
    --font-extra-bold: 800;
    --font-paragraph: 15px;

    --color-primary-orange: hsl(35, 77%, 62%);
    --color-primary-red: hsl(5, 85%, 63%);
    --color-offwhite: hsl(36, 100%, 99%);
    --color-grayish-blue: hsl(233, 8%, 79%);
    --color-dark-grayish-blue: hsl(236, 13%, 42%);
    --color-very-dark-blue: hsl(240, 100%, 5%);



}